@-ms-viewport{
    width: device-width;
}

@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.woff2') format('woff2'),
    url('montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('montserrat-semibold-webfont.woff2') format('woff2'),
    url('montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
GREEN   : #8FAC2E
ORANGE  : #CF7C17
RED     : #B40C27
PURPLE  : #90268F
BLUE    : #105881
DARK GREY   : #57585A
LIGHT GREY  : #E0E0E0
*/

html,body{
    height:100%;
    font-family:"montserratregular";
    font-size:4vw;
    background:#fff;
}

.container{
    margin:0;
    padding:initial;
}
#main {
    position:relative;
    background:#fff;
    height:100vh;
}

#main .content{
    display: table;
    height: calc(100vh - 80px);
}
#main .content .container{
    display:table-cell;
    vertical-align: middle;
}

/*global*/
.toplogo {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    z-index:1000;
    text-align:center;
    border-bottom:1px solid #E0E0E0;
    padding:10px 0;
}
h1:before{
    content:"";
    position:absolute;
    top:0;
    background:url(../img/logo.png) no-repeat;
    left: -28%;
    width: 100%;
    height: 100%;
    background-size:contain;
}
h1 {
    font-size:120%;
    font-weight:normal;
    margin:10px 0; padding:0;
    position:relative;
    display:inline-block;
    margin:0 auto;
    line-height:160%;
    font-weight:normal;
}
h1:after{
    content:"™";
    position:absolute;
    top:0;
    right:-15px;
    font-size:65%;
}

.bottomnav{
    width:100%;
    position:fixed;
    bottom:0; left:0;
    text-align:center;
    border-top:1px solid #E0E0E0;
    padding:5px 0;
    background:#fff;
}
.bottomnav a{
    display:inline-block;
    background:url(../img/icon_home.png) bottom left no-repeat;
    width: 5vmax;
    height: 5vmax;
    text-indent:-5000px;
    background-size:100%;
}

.bottomnav a.preview{
    background:url(../img/icon_preview.png) top left no-repeat;
    background-size:100%;
}
.bottomnav a.on{
    background-position: top left;
}
.bottomnav a.preview.on{
    background-position: bottom left;
}

.bottomnav .mi_slideout.reviewable {
    display:initial;
}
.bottomnav .mi_slideout {
    display  : none;
}

.content{
    margin:40px 0;
    text-align:Center;
}


#main .button {
    background: #8FAC2E;
    padding: 15px 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 3px 3px 0px 0px #57585A;
    width:auto;
    min-width:220px;
    max-width:300px;
}


#main .btns{
    border-top:1px solid #57585A;
    padding:10px 0;
}

#main .btn {
    background: #8FAC2E;
    padding: 8px 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 3px 3px 0px 0px #57585A;
    width:auto;
    min-width:60px;
    display:inline-block;
}

#main .stop{
    background:#B40C27;
}
#main .danger{
    background: #E0E0E0;
    padding: 10px 15px;
}
#main .reset{
    background: #105881;
    padding: 10px 15px;
}
#main .view{
    background: #90268F;
    padding: 10px 15px;
}
#main .end{
    background: #B40C27;
}

#reset_dbs.active{
    background:red;
}

#main .audio, #main .keyboard{
    background:#105881 url(../img/icon_mic.png) 50% no-repeat;
    background-size:20%;
    display:inline-block;
    width:auto;
    min-width: 10vw;
    min-height: 3vh;
    height:20px;
    margin-top:0;
}
#main .keyboard{
    background-image:url(../img/icon_keyboard.png);
    background-size:40%;
}

#main .listen{
    background:#105881 url(../img/icon_listen.png) 50% no-repeat;
    background-size:80%;
    display:inline-block;
    width:auto;
    min-width:3vh;
    min-height:3vh;
    margin-left:5px;
}

#main .button.action{
    background:#105881 url(../img/icon_camera.png)  50% no-repeat;
    background-size:20%;
    text-indent:-5000px;
    width:100%;
    max-width:50vw;
    height:25vh;
}

/*splash*/
#splash_loading{
    max-width:50%;
    position:absolute;
    top: 45%;
    left: 50%;
    margin-left:-25%;
    transform: translateY(-50%);
    text-align:center;
}
#splash_loading img {
    display:inline-block;
    width:100%;
}
#splash_loading h2 {
    font-size:120%;
    font-weight:normal;
    margin:10px 0; padding:0;
    position:relative;
    display:inline-block;
}
#splash_loading h2:after{
    content:"™";
    position:absolute;
    top:0;
    right:-15px;
    font-size:65%;
}
#splash_loading ver{
    font-size:88%;
    font-weight:lighter;
    display:block;
}

.splash copyright{
    width:50%;
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-25%;
    font-size:65%;
    text-align:center;
}


.instruct{
    font-size:4vw;
}

.panel {
    position  : relative;
    min-width : 100%;
    opacity   : 0;
    display   : none;
}
.panel.loaded  {
    opacity   : 1;
}


/*setup*/
#step_setup div.row{
    padding:12px 0;
}
#step_setup .graybox div.row{
    padding:0;
}
.graybox {
    background:#57585A !important;
    width:100% !important;
    padding: 20px 0 10px !important;
}
.graybox label{
    color:#fff;
    text-align:right;
    line-height:210%;
}
.graybox span {
    text-align:left;
}
.graybox input{
    padding:0;
}
/*login*/
#projid{
    color:initial;
    border:none;
    border-radius:initial;
    margin:20px 0;
}

.login copyright{
    display:block;
}
.login h2 {
    font-size:160%;
    font-weight:normal;
    margin:10px 0; padding:0;
    position:relative;
    display:inline-block;
}
.login h2:after{
    content:"™";
    position:absolute;
    top:0;
    right:-15px;
    font-size:65%;
}
.login ver{
    font-size:88%;
    font-weight:lighter;
    display:block;
}

.login .graybox span{
    color:#fff;
    line-height:210%;
}

.appver{
    margin:20px 0;
}
/*consent*/
.consentbox{
    border:1px solid #57585A;
    border-radius:5px;
    margin:10px auto 10px;
    position:relative;
}
.vertconnect:after{
    content:"";
    position:absolute;
    left:50%;
    margin-left:-10px;
    bottom:-22px;
    width:10px;
    height:22px;
    background:#57585A;
}

.safteytip {
    text-align:left;
    margin:20px 0;
}
.safteytip div {
    display:table;
    min-height:10vh;
}
.safteytip img {
    height:10vh;
    display:block;
    margin:0 auto;
}
.safteytip span{
    display:table-cell;
    vertical-align: middle;
}
/*start*/
.startwalk .consentbox{
    margin-top:80px;
}
.startwalk .buttons{
    margin-top:80px;
}
/*picture*/
.smiley {
    display:inline-block;
    min-width: 15vw;
    min-height: 15vw;
    background:url(../img/icon_smilies.png) bottom left no-repeat;
    background-size:200%;
}
.smiley.down{
    background-position:bottom right;
}

.smiley:hover,
.smiley.on{
    background-position-y : top;
}

.jointext{
    text-align:center;
    padding:0 20px
}
.audio_text,
.goodbad{
    margin-bottom:15px;
}

.audio_text div{
    text-align:left;
}

/*endwalk*/

/*finish*/
.bigpad{
    padding:20px 0;
}
.horizconnect{
    height:12px;
    background:#57585A;
    border-radius:0;
    margin-bottom:0;
}
.consentbox.nocontent{
    padding:0;
    margin-top:0;
    border:none;
}
.consentbox.nocontent:after{
    bottom: -21px;
    width: 10px;
    height: 33px;
}
.icon {
    height:10vh;
    background:#57585A;
    position:relative;
}

.icon.camera{
    background:#57585A url(../img/icon_camera.png) 50% no-repeat;
    background-size:80%;
}
.icon.audiocomment{
    background:#57585A url(../img/icon_audio_comment.png) 50% no-repeat;
    background-size:contain;
}
.solidbg{
    background:#57585A;
    color:#fff;
}
/*upload*/
.table{
    border-bottom:none;
    padding:8px 0;
    border-bottom:1px solid #E0E0E0;

}
.table:last-child{

}
.upload_table{
    min-height:300px;
    border:1px solid #E0E0E0;
}
.table_header div {
    display:table;
    min-height:50px;
}
.table_header span{
    display: table-cell;
    vertical-align: middle;
    margin:0 auto;
}
.table_header img{
    max-width:5vh;
    max-height:5vh;
}

